# Operating System garbage
.DS_Store
Thumbs.db

# IDE project files
/.build/
/.buildpath
/.idea/
/.project
/.settings/

# Composer
/composer.lock
/composer.phar
/vendor/

# Generated API documentation
/docs/
